@import "tailwindcss";

@font-face {
  font-family: "InkNutAntiqua";
  src: url(./fonts/InknutAntiqua-Regular.ttf);
  font-weight: normal;
  font-style: normal;
      
}

@theme {
  --font-display: "InkNutAntiqua", "TimesNewRoman"
}

.sign-up-header {
  width: 100%;
  background-color: #ad4c4c;
  color: white;
  font-family: "InkNutAntiqua"; 
}
